# Default Terraform files to ignore
credentials.auto.tfvars
.terraform.lock.hcl
.terraform
terraform.tfstate
terraform.tfstate.backup

# Default Packer files to ignore
credentials.auto.pkrvars.hcl

# Ignore the named.conf.key file
named.conf.key
isujith-dev.zone.jnl

# Ignore helm values files
*-values.yml
values.yaml
*-secret.yml
secrets.yml
config-map.yml

*.pem
