# Default Terraform files to ignore
credentials.auto.tfvars
.terraform.lock.hcl
.terraform
terraform.tfstate
terraform.tfstate.backup

# Default Packer files to ignore
credentials.auto.pkrvars.hcl

# Ignore the named.conf.key file
tsig.conf
named.conf.key
isujith-dev.zone.jnl

# Ignore secret files
*-values.yml
*-values.yaml
*-secret.yml
*-secret.yaml
*-secrets.yml
*-secrets.yaml
*-config-map.yml
*-config-map.yaml

values.yml
values.yaml
secret.yml
secret.yaml
secrets.yml
secrets.yaml
config-map.yml
config-map.yaml

*.pem
