apiVersion: v1
kind: Service
metadata:
  name: bind9
spec:
  selector:
    app: bind9
  type: LoadBalancer
  loadBalancerIP: 10.0.253.253
  ports:
    # Standard DNS
    - protocol: UDP
      port: 53
      targetPort: 53
      name: dns-udp
    - protocol: TCP
      port: 53
      targetPort: 53
      name: dns-tcp

    # DNS over TLS (DoT)
    - protocol: TCP
      port: 853
      targetPort: 853
      name: dot-tcp

    # DNS over HTTPS (DoH)
    - protocol: TCP
      port: 443
      targetPort: 443
      name: doh-tcp
