apiVersion: apps/v1
kind: Deployment
metadata:
  name: semaphore
  labels:
    app: semaphore
spec:
  replicas: 1
  selector:
    matchLabels:
      app: semaphore
  template:
    metadata:
      labels:
        app: semaphore
    spec:
      containers:
        - name: semaphore
          image: semaphoreui/semaphore:v2.12.14
          imagePullPolicy: Always
          ports:
            - containerPort: 3000

          envFrom:
            - secretRef:
                name: semaphore-secret
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: semaphore-postgres
  labels:
    app: semaphore-postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: semaphore-postgres
  template:
    metadata:
      labels:
        app: semaphore-postgres
    spec:
      containers:
        - name: semaphore-postgres
          image: postgres:14
          env:
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: semaphore-secret
                  key: POSTGRES_DB
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: semaphore-secret
                  key: POSTGRES_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: semaphore-secret
                  key: POSTGRES_PASSWORD
          ports:
            - containerPort: 5432
