apiVersion: v1
kind: Service
metadata:
  name: semaphore-service
spec:
  selector:
    app: semaphore
  ports:
  - port: 80
    targetPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: semaphore-postgres-service
spec:
  selector:
    app: semaphore-postgres
  ports:
  - port: 5432
    targetPort: 5432
  loadBalancerIP: 10.0.60.11
  type: LoadBalancer
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: semaphore-ingress
  annotations:
    cert-manager.io/issuer: cloudflare-issuer
spec:
  tls:
  - hosts:
      - semaphore.home.isujith.dev
    secretName: semaphore-cert
  rules:
  - host: semaphore.home.isujith.dev
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: semaphore-service
            port:
              number: 80
