---
- name: Ensure NFS client tools are installed on all nodes
  hosts: k3s_cluster:children
  become: true
  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes
        cache_valid_time: 3600

    - name: Install NFS client package
      apt:
        name: nfs-common
        state: present
