- name: Deploy SSH Keys
  hosts: "{{ '*' | d([]) }}"
  become: false

  tasks:
    - name: Ensure ~/.ssh directory exists
      file:
        path: "~/.ssh"
        state: directory
        mode: "0700"

    - name: Copy SSH public key to remote machine
      ansible.builtin.copy:
        src: "~/.ssh/id_ed25519.pub"
        dest: "~/.ssh/authorized_keys"
        mode: "0600"
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
      when: ansible_user is defined or "" != ""
